<!DOCTYPE html>
<html>
  <head><title>Console: a puzzle</title></head>
  {% block extra_head_css %}
  <link href="static/css/terminal.css" rel="stylesheet">
  {% endblock %}
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/term.js"></script>
    <script type="text/javascript">
      // var containerId = "971a5a6b382e11f492f7b6fc13db28c09d9661b74bad6c4ec31b45654eacb6de"
      // var ws = new WebSocket('ws://localhost:8000/v1.7/containers/' + containerId + '/attach/ws?logs=1&stderr=1&stdout=1');

    $(function() {
      var containerId = "971a5a6b382e11f492f7b6fc13db28c09d9661b74bad6c4ec31b45654eacb6de"
      var ws_url = "ws://192.168.59.103:8000/v1.8/containers/" + containerId + "/attach/ws"
      var wsUri = ws_url + "?logs=1&stderr=1&stdout=1&stream=1&stdin=1";
      var websocket = new WebSocket(wsUri);
      console.log(wsUri)

      websocket.onopen = function(evt) {
        console.log("opened socket")
        var term = new Terminal({
          cols: 80,
          rows: 24,
          screenKeys: false
        });

        term.on('data', function(data) {
          websocket.send(data);
        });

        term.on('title', function(title) {
          document.title = title;
        });

        term.open(document.getElementById('container-terminal'));

        websocket.onmessage = function(evt) {
          term.write(evt.data);
        }

        websocket.onclose = function(evt) {
          console.log("socket closed")
          term.write("Session terminated");
          // term.destroy();
        }

        websocket.onerror = function(evt) {
          console.log("errored out :(")
          if (typeof console.log == "function") { console.log(evt) }
        }
      }
    });
    </script>

<div id="container-terminal"></div>
</html>
